<router-outlet> </router-outlet>

<form style="height:300px; width:600px;">
  <table height=100% width=100%>
    <tr>
      <td width=30%>

      </td>
      <td width=70%>
        <table>
          <tr>
            <td style="vertical-align: top;">
              <p *ngFor="let message of messages">
                {{message.text}}
              </p>
            </td>
          </tr>
          <tr style="vertical-align: bottom;">
            <td>
              <!-- Message : <input type="text" name="message" [(ngModel)]="message">
              <button (click)="onSendMessage()">Send</button> -->
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
</form>
<!--
<mat-grid-list cols="4" [style.background]="'skyblue'">
  <mat-grid-tile [colspan]="1" [rowspan]="1">
    <mat-grid-tile-header>
      Active Users
    </mat-grid-tile-header>
    <mat-list *ngFor="let charter of chatters">
        <mat-action-list>
            <button mat-list-item (click)="onClickCharter(charter)">{{charter}}</button>
          </mat-action-list>
    </mat-list>
  </mat-grid-tile>

  <mat-grid-tile [colspan]="3" [rowspan]="1">
      <p *ngFor="let message of messages">
          {{message.text}}
        </p>

         <input type="text" name="message" [(ngModel)]="message">
        <button  (click)="onSendMessage()">Send</button>
  </mat-grid-tile>
</mat-grid-list> -->



