<mat-card>
  <h4><span></span></h4>

  <span *ngFor="let item of messages" style="width: 100%;">
    <p [ngClass]="{'message-right': item.isFrom === true, 'message-left': true}">
      <mat-label >{{item.data}} ({{ item.isFrom === true ? 'me' : item.name }})</mat-label>
    </p>
  </span>

  <br>
  <mat-form-field style="width: 100%;" out>
    <mat-label>Message</mat-label>
    <textarea [(ngModel)]="message" matInput placeholder=""></textarea>
  </mat-form-field>
  <button mat-mini-fab color="primary" (click)="sendMessage()">
    <mat-icon>send</mat-icon>
  </button>
</mat-card>

<!-- <mat-card>
  <div class="container">
    <video src="" id="video" style="width:700px; height: 350px;" autoplay="true"></video>
    <canvas style="display:none;" id="preview"></canvas>
    <div [(ngModel)]="loggerMsg"></div>
  </div>
</mat-card> -->
